
/* NAV */
.vertical-menu {
   width: 300px; /* Set a width if you like */
   
 }
 
 .vertical-menu a {
   background-color: #66bb6a; /* Grey background color */
   color: black; /* Black text color */
   display: block; /* Make the links appear below each other */
   padding: 117px; /* Add some padding */
   text-decoration: none; /* Remove underline from links */
   border: green 1px solid;
 }
 
 .vertical-menu a:hover {
   background-color: #2e7d32; /* Dark grey background on mouse-over */
 }
 
 .vertical-menu a.active {
   background-color: #4CAF50; /* Add a green color to the "active/current" link */
   color: white;
 }
 
 body {
   margin: 0;
   font-family: sans-serif;
 }
 /* BANNER */
 .hero {
   /* Sizing */
   width: 97vw;
   height: 100vh;
   
   /* Flexbox stuff */
   display: flex;
   justify-content: center;
   align-items: center;
   
   /* Text styles */
   text-align: center;
   color: #1b5e20; /* ADD THIS LINE */
   
   /* Background styles */
   background-image: url(../img/bannerNatural2.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }
 
 .hero h1 {
   /* Text styles */
   font-size: 5em;
   
   /* Margins */
   margin-top: 0;
   margin-bottom: 0.5em;
 }
 
 .hero .btn {
   /* Positioning and sizing */
   display: block;
   width: 200px;
   
   /* Padding and margins */
   padding: 1em;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   
   /* Text styles */
   color: white; /* CHANGE THIS LINE */
   text-decoration: none;
   font-size: 1.5em;
   
   /* Border styles */
   border: 3px solid white; /* CHANGE THIS LINE */
   border-radius: 20px;
 }
 
 /* FOOTER */
 .page-footer {
   background-color:#2e7d32;
 }
 
 

 